.container>h1{
    font-family: sans-serif;
    color: rgb(243, 211, 232);
    font-size: 72px !important;
    margin-top: 12px !important;
}
body{
    background-image: url(1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.watch2{
    background-color: rgb(36, 204, 226);
    display: inline-block;
    width: 5em;
    height: 50px;
    color: rgb(13, 127, 235);
    border-radius: 15%;
    box-shadow: 0 6px 4px rgb(122, 191, 238);
}
*{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.btn{
    background-color: rgb(236, 157, 173) !important;
    margin-top: 12px !important;
    color: darkblue !important;
    font-size: 22px !important;
   
}
.name{
    color: rgb(250, 74, 103);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    background-color: plum;
}